@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline-style: none;
}

body {
  background: #eae0ff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #373737;
}
/* Estilos del botón */
#bottomRightButton {
  position: fixed;
  bottom: 20px; /* Espacio desde el borde inferior */
  right: 20px; /* Espacio desde el borde derecho */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bi-mic-fill {
  font-size: 60px;
  background: #fff;
  border-radius: 50%;
  padding: 15px 20px;
}
.bi-mic-fill:hover {
  cursor: pointer;
  background-color: beige;
}
.bi-mic-mute-fill {
  cursor: pointer;
}
#recordingTime {
  margin-top: 20px;
}

@keyframes shadow-expansion {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(109, 108, 108, 0.5);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 10px 4px rgba(97, 97, 97, 0.5);
  }
}

.recording {
  font-size: 60px;
  border-radius: 50%;
  padding: 15px 20px;

  color: #fff;
  background-color: #007bff;
  border-radius: 100%;
  animation: shadow-expansion 0.9s ease-in-out infinite alternate;
}

img {
  max-width: 150px;
  max-height: 150px;
}
